<!-- <mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list> -->

<mat-accordion multi="true" *ngIf="posts.length>0">
  <mat-expansion-panel *ngFor="let post of posts; let indexOfelement=index;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>{{indexOfelement + 1}}. </strong>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p><strong>Content: </strong><br> {{post.content}}</p>
    <mat-action-row>
      <!-- [routerLink]="['/edit', post.id] and [routerLink]="['/edit/', post.id] both will work -->
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">Edit</a>
      <!-- Another way to create a URL -->
      <!-- <a mat-button color="primary" routerLink="/edit/{{post.id}}">Edit</a> -->
      <button mat-button color="warn" (click)="onDelete(post.id)">
        <span>Delete</span>
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length <= 0" class="text-info mat-body mat-body-1">No Posts Added Yet!!</p>
